{% extends "_base.html" %}

{% block title %}
  Đổi mật khẩu
{% endblock title %}

{% block content %}
  <h2>
    {% if token_fail %}
      Bad Token
    {% else %}
      Đổi mật khẩu
    {% endif %}
  </h2>
  {% if token_fail %}
    <p>
      Liên kết đặt lại mật khẩu không hợp lệ, có thể vì nó đã được sử dụng. Yêu cầu <a href="{% url 'account_reset_password' %}"> đặt lại mật khẩu mới</a>.
    </p>
  {% else %}
    {% comment %} action_url: from allauth source code, path: allauth/account/views.py {% endcomment %}
    <form method="post" action={{ action_url }}> 
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-warning" name="action">Đổi mật khẩu</button>
    </form>
  {% endif %}
{% endblock content %}